.DictionarySearch form {
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 0 20px;
}

.DictionarySearch input {
  position: relative;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid rgb(227, 245, 255);
  width: 50%;
}

.DictionarySearch input:focus {
  outline: 1px solid rgb(165, 216, 243);
}

.DictionarySearch button {
  position: relative;
  border: none;
  right: 40px;
  background-color: #fff;
}
